
KSArchitect_ArchiAR_ARCore/Library/ShaderCache/

KSArchitect_ArchiAR_ARCore/\.vs/

KSArchitect_ArchiAR_ARCore/Library/shadercompiler-UnityShaderCompiler\.exe0\.log

KSArchitect_ArchiAR_ARCore/Library/shadercompiler-UnityShaderCompiler\.exe1\.log

KSArchitect_ArchiAR_ARCore/Library/shadercompiler-UnityShaderCompiler\.exe2\.log

KSArchitect_ArchiAR_ARCore/Library/shadercompiler-UnityShaderCompiler\.exe3\.log
